<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Demo</title>
	</head>
	<body>
		<h1>Hello World</h1>
		<p th:text="#{message.error}">error</p>
		<div>
			<table>
				<tr><th>id</th>
				<th>name</th>
				<th>photo</th>
				<th>date</th></tr>
				<th:block th:each="product :${data}">
				<tr>
				<td th:text="${product.id}"></td>
				<td th:text="${product.name}"></td>
				<td th:text="${product.photo}"></td>
				<td th:text="${product.create}"></td></tr>
				</th:block>
			</table>
		</div>
<a th:href="@{/linklist}">Linklist</a>
	</body>
</html>